<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House</title>
</head>
<body>

<form action="/house" method="post">
    <label for="town">Town</label>
    <input type="text" name="town" placeholder="Town">
    <label for="volume">volume</label>
    <input type="text" name="volume" placeholder="volume">
    <label for="price">price</label>
    <input type="text" name="price" placeholder="price">
    <label for="street">street</label>
    <input type="text" name="street" placeholder="street">
    <input type="submit" value="Ok">
</form>

</body>
</html>